@model IEnumerable<SignalRDbUpdates.Models.Beacon>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.BeaconID)</th>
        <th>@Html.DisplayNameFor(model => model.LocationID)</th>
        <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
        <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BeaconID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        
    </tr>
}

</table>
